{
  "containerDefinitions": [
	{
	  "cpu": ${RHINO_CPU},
	  "environment": [
		{
		  "name": "JAVA_OPTS",
		  "value": "-Xms${RHINO_JVM_XMS} -Xmx${RHINO_JVM_XMX}"
		}
	  ],
	  "mountPoints": [
		{
		  "readOnly": false,
		  "containerPath": "/opt/rhino/results",
		  "sourceVolume": "results"
		}
	  ],
	  "memory": ${RHINO_MEM},
	  "image": "docker2-sharedcloud-snapshot-local.dr-uw2.adobeitc.com/testing/${PROJECT_NAME}:${PROJECT_TAG}",
	  "essential": true,
	  "name": "Gatling"
	}
  ],
  "family": "${RHINO_FAMILY}",
  "networkMode": "bridge",
  "volumes": [
	  {
		  "name": "results",
		  "host": {
			  "sourcePath": "/ecs/results"
		  }
	  }
  ],
  "placementConstraints": []
}
