<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%-6p] %c{1} %tn(%tid) – %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="ReportingLogger" level="debug">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>